@import './variables';

@font-face {
  font-family: TitilliumWeb;
  src: url(assets/fonts/TitilliumWeb-Regular.ttf) format('opentype');
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: $light-grey;
  font-family: 'TitilliumWeb', 'Helvetica Neue', sans-serif;
}
