.blocks {
  display: flex;
}

.handsetitem {
  display: flex;
  flex: 1;
  justify-content: center;
}

.item {
  flex: 1;
  justify-content: center;
}

.image {
  width: 340px;
}

.handsetimage {
  width: 300px;
}
