<div class="form">
  <form [formGroup]="form">
    <p class="title">Star Wars IMDB</p>
    <div class="form-field">
      <input name="email" formControlName="email" placeholder="Your name" />
    </div>
    <div class="form-field">
      <input
        name="password"
        formControlName="password"
        type="password"
        placeholder="Your password" />
    </div>
    <div class="form-buttons">
      <button class="button" (click)="login()">
        <span class="login">Log In</span>
      </button>
    </div>
  </form>
</div>
